{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<section class="d-flex flex-column">
    <h1>Panier</h1>
    <!-- boucle for -->
        <article class="d-flex flex-row">
            <div>
                <img src="" alt="Test" />
            </div>
            <div>
                <!-- nom du produit, quantité commandée, prix du produit, montant de la ligne, bouton suppression du produit -->
                <span></span>
                <span></span>
            </div>
        </article>
    <!-- endfor -->
    <div>
        <p>Total : -</p>
    </div>
</section>
{% endblock %}
