{% extends 'base.html.twig' %}

{% block body %}
 <!-- is_granted permet de savoir si le user connecté possède le ou les groupes -->
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
<div style="text-align:center; margin-right:250px; margin-left:250px">
    <h1>{{ 'produit.titleAddProduit'|trans }}</h1>
    {{ form(ajoutProduit) }}
</div>
{% endif %}
{% endblock %}
    
    
 