{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Error.NotFound'|trans }} : 404</h1>

    <p>
        {{ 'Error.Message'|trans }} <a href="{{ path('app_produit') }}">{{ 'Error.ReturnHome'|trans }}</a>.
    </p>
{% endblock %}